/* Alteração do box model */
*,*::after, *::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { font-size: 8px;}

body { 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Tag main (com display, flex-direction, min-height), ocupará todo o espaço necessario, para colocar o rodapé no final da pagina */
main {flex: 1;}

/* limite de imagem flexivel ou responsivo */
img { max-width: 100%;}

/* Menu e cabeçalho */

.cabecalho{

    background: linear-gradient(to right, yellowgreen, white); 
    /* background-color:yellowgreen; */
    height: 12.5rem; 
    width: 100%;

        /* cabeçalho fixo */
        position: fixed;
        top: 0;

        /* Ajuste de profundidade (eixo Z) Quanto maior, mais a ferente fica */
        z-index: 2;
}

.logo_cabecalho{
    margin-left: 0.5rem;  
    width: 8rem;
    height: 8rem;
    max-width: 20rem; 
    min-width: 7rem; 
    float: left;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.cabecalho .contato{
    font-size: 2.0rem;
    margin-top: 2.5rem;
    text-align: center;
}

.cabecalho .contato a {
    text-decoration: none;
}

/* Rodapé */
footer{
    background: linear-gradient(to right, yellowgreen, white);
    height: 12.5rem; 
    z-index: 1;
}

h5 p{   
    font-size: 1.5rem;
    margin-top: 6rem;
    text-align: center;
}

h5 a {
    text-decoration: none;
}

/* Corpo da pagina e imagem de fundo*/

/* configuração da imagem de fundo */
.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130rem; 
    z-index: 1; 
    opacity: 0.3;
    background-image: url(../imagens_fundo/fundo_tela.jpg);
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: cover;
}

.container { 
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    z-index: 1;
    margin-top: 12rem;
} 

.container .transparencia {
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 2rem;   
    height: 30rem; 
    border: 0.2rem solid black;
    z-index: 1;

}

.container .transparencia .destaque-primario h2{
    position: relative;
    opacity: 1;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: black; 
    z-index: 1;
}

.container .transparencia2 {
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 2rem;   
    height: 5rem; 
    border: 0.2rem solid black;
    z-index: 1;
}

.container .transparencia2 .destaque-secundario h2{
    position: relative;
    opacity: 1;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    color: black; 
    z-index: 1;
    text-align: center;
}

.transparencia2 .destaque-secundario a {
    text-decoration: none;
}

.container .transparencia4 {
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 2rem;   
    height: 5rem; 
    border: 0.2rem solid black;
    z-index: 1;
}

.container .transparencia4 .destaque-secundario h2{
    position: relative;
    opacity: 1;
    font-size: 1.5rem;
    text-align: center  ;
    margin-top: 2rem;
    color: black; 
    z-index: 1;
    text-align: center;
}

.transparencia4 .destaque-secundario a {
    text-decoration: none;
}

/* formatar slide 3*/

.container .slide .transparencia3 { 
    position: relative;
    background-color: white;
    opacity: 1;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 30rem;
    border: 2px solid black;
    z-index: 1;
}

.container .slide .transparencia3 .box{
    top: 25rem; 
    width: 12rem; 
    height: 12rem; 
    margin: auto;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    z-index: 1;
}

@keyframes animate{
        0% {
            transform: perspective(
                100rem)
            rotateY(0deg);    
        }
        100% {
            transform: perspective(
                100rem)
            rotateY(360deg)
        }
}

.container .slide .transparencia3 .box span{
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg))translateZ(300px);
    z-index: 1;
}

.container .slide .transparencia3 .box span img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004); 
    z-index: 1;
} 

/* formatar slide 5*/

.container .slide .transparencia5 { 
    position: relative;
    background-color: white;
    opacity: 1;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 30rem;
    border: 2px solid black;
    z-index: 1;
}

.container .slide .transparencia5 .box{
    top: 25rem; 
    width: 12rem; 
    height: 12rem; 
    margin: auto;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    z-index: 1;
}

@keyframes animate{
    0% {
        transform: perspective(
            100rem)
        rotateY(0deg);    
    }
    100% {
        transform: perspective(
            100rem)
        rotateY(360deg)
    }
}

.container .slide .transparencia5 .box span{
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg))translateZ(300px);
    z-index: 1;
}

.container .slide .transparencia5 .box span img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004); 
    z-index: 1;
} 


/* --------- */
/* lightbox  */
/* --------- */

.container .transparencia6 {
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 2rem;   
    height: 30rem; 
    border: 0.2rem solid black;
    z-index: 1;

}

.container .transparencia6 .destaque-primario h2{
    position: relative;
    opacity: 1;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: black; 
    z-index: 1;
}

.container .transparencia7 {
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 2rem;   
    height: 10rem; 
    border: 0.2rem solid black;
    z-index: 1;
}

.container .transparencia7 .destaque-secundario h2{
    position: relative;
    opacity: 1;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    color: black; 
    z-index: 1;
    text-align: center;
}

.transparencia7 .destaque-secundario a {
    text-decoration: none;
}

/* formatar slide 8 - por obra*/

.container .transparencia8 { 
    position: relative;
    background-color: white;
    opacity: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 50rem;
    border: 2px solid black;
    z-index: 1;
}

.container .transparencia8 .galeria-de-fotos{
    opacity: 1;
    overflow: hidden;
    top: 25rem; 
    width: 12rem; 
    height: 12rem; 
    margin: auto;
    z-index: 1;

    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

        
    /* Mudando fundo de preto para rosa */
    /* .lightboxOverlay{background-color: pink}; */

}



/* ------------------------ */
/* configuração media query */
/* ------------------------ */

/* ------ */
/* 640px */
/* ------ */


@media screen and (min-width: 640px) {
    html { font-size: 10px;}
}

/* ------ */
/* 1280px */
/* ------ */

@media screen and (min-width: 1280px) {
    html { font-size: 12px;}
}

/* ------ */
/* 1920px */
/* ------ */

@media screen and (min-width: 1920px) {
    html { font-size: 14px;}
}